body {
  text-align:center;
  overflow: hidden;}

.wrapper {background-color:blue;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;}

.article {background-color:white;
  padding: 10px;}
